/****************************************************************
**  PROLEGOMENA
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --realwhite: #fafafa;
  --white: #eaeaea;
  --black: #3c3c3c;
  --purple: #b91450;
  --green: #00c864;
}
body {
  font-family: 'Inter', sans-serif;
  background-color: var(--realwhite);
  color: var(--black);
}
main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
ul {
  list-style: none;
  text-align: left;
}

/****************************************************************
**  FIZZBUZZ FORM
*/
/* INPUT FORM */
main .input_form .form_box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .input_form .form_box .row_in {
  /* solo per molti campi input */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* flex-wrap: wrap; */
  /* max-width: 400px; */
}
main .input_form .form_box .row_in .input_box {
  margin: 0 20px;
}
main .input_form .form_box .row_in .input_box input,
main .input_form .form_box .row_in .input_box select {
  padding: 8px;
  /* min-width: 200px; */
  border: 2px solid var(--black);
  border-radius: 5px;
  color: var(--black);
  background-color: var(--white);
  outline: none;
  margin: 10px
}
main .input_form .form_box .row_in .input_box input:focus {
  color: var(--white);
  background-color: var(--black);
  outline: none;
}
main .input_form .form_box .row_in .input_box input:focus::placeholder {
  color: transparent;
}
/* firefox input red outline */
main .input_form .form_box .row_in .input_box input:required,
main .input_form .form_box .row_in .input_box input:invalid {
  box-shadow: none;
}
main .input_form .form_box .row_btn button {
  margin: 20px 10px 0;
}
/* RESPONSE MESSAGE */
main .input_form .form_box #msg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--black);
  border-radius: 5px;
  background-color: var(--white);
}
main .input_form .form_box #msg .msg_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
main .input_form .form_box #msg .msg_content #check_msg {
  text-align: left;
}
main .input_form .form_box .row_btn button#insertion_btn {
  background-color: var(--green);
  border: 1px solid var(--green);
  color: var(--black);
}
main .input_form #msg button {
  margin-top: 15px;
}

/****************************************************************
**  DISPLAY RESULT
*/
#display_result .card {
  /* min-width: 110px; */
  /* max-height: 200px; 
  overflow-y: scroll; */

}
#display_result table tr td+td {
  min-width: 80px;
  text-align: center;
  padding-left: 10px;
}
.strong {
  color: var(--purple);
  font-weight: 600;
}

/****************************************************************
**  CARD
*/
.card {
  margin: 15px 15px 30px;
  padding: 30px 50px;
  color: var(--black);
  border-radius: 5px;
  background-color: var(--white);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

/****************************************************************
**  DISPLAY ON/OFF
*/
.hide {
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}
.show {
  display: block;
  visibility: visible;
  opacity: 1;
  transition: all 0.3s;
}

/****************************************************************
**  BUTTONS
*/
button {
  padding: 5px 15px;
  color: var(--white);
  background-color: var(--black);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s;
}
button:hover {
  transform: scale(1.04);
}

/****************************************************************
**  TEXTS
*/
.ms_txt_title {
  font-size: 1.4em;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 10px;
}
.ms_txt_1 {
  display: inline-block;
  font-size: 1em;
  font-weight: 600;
  margin: 10px 0;
}
